html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container{
  max-width: 980px;
  width:100%;
  margin:0 auto;
}

.btn{
  transition: all 0.5s;
}

.btn:hover{
  opacity: 1.0;
  color: #6666ff;
}

header{
  height: 60px;
  width: 100%;
  background-color: rgba(34, 49, 52);
}

.header-left{
  float: left;
}

header .logo{
  font-size: 20px;
  background-color: #996666;
  color: white;
  line-height: 60px;
  padding: 0px 10px;
  display:inline-block;
  opacity: 0.7;
}

.header-right{
  float: right;
}

.header-right a {
  font-size: 20px;
  line-height: 60px;
  padding: 0 10px;
  color: white;
  display: inline-block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.map-wrapper{
  background-image: url("pexels-photo-357428.jpeg");
  background-color: #f8dce0;
  background-size: cover;
  padding: 50px 0px 300px 0px;
  text-align: center;
  color: white;
}

.map-wrapper h1{
  font-size: 70px;
  letter-spacing: 10px;
  opacity: 0.7;
}

.map{
  width:100%;
  opacity: 0.7;
  position:relative;
}

.map a{
  color:white;
  font-size: 22px;
  opacity: 0.7;
}

.map .aichi{
  position: absolute;
  top:77%;
  right: 37.2%;
}

.map .hukui{
  position: absolute;
  top:57.3%;
  right:44%;
}

.map .shiga{
  position: absolute;
  top:63%;
  right:42.7%;
}

.map .hyougo{
  position: absolute;
  top:62%;
  right:54.9%;
}

.map .okayama{
  position: absolute;
  top:65.5%;
  right:59%;
}

.vertical{
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.map-contents{
  display: none;
}
